label {
  font-size: 13px;
  color: $labels-color;
  margin: 0;
}

input {
  font-size: 14px !important;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: $borders-color;
}

.form-group.errors {
  margin-bottom: 0;

  input {
    border-color: $error-color;
  }
}

div.validation-message {
  color: $error-color;
  font-size: 12px;
}