<div *ngIf="activeFaculty$ | async as faculty" class="faculty-info" [@slideInOut]>
  <div class="header">
    <span class="title">Title: {{ faculty.title }}</span>
    <mat-icon (click)="closeFacultyCard()">close</mat-icon>
  </div>

  <div class="content">
    <div class="description">
      {{ faculty.info }}
    </div>

    <button class="button primary" (click)="makeVirtualTour(faculty.id)">Make a virtual tour</button>

    <div [@listAnimation]="faculty?.specialties?.length" class="specialty-list d-flex flex-column">
      <div *ngFor="let specialty of faculty.specialties; let index=index" class="specialty d-flex flex-column">
        <div class="w-100 d-flex" (click)="onSpecialtyClick(index)">
          <span class="title">{{ specialty.title }}</span>
          <mat-icon [ngClass]="{opened: index === activeSpecialtyId}">keyboard_arrow_down</mat-icon>
        </div>

        <div [@listAnimation]="index === activeSpecialtyId" class="d-flex flex-column w-100">
          <div *ngIf="index === activeSpecialtyId" class="d-flex flex-column w-100 specialty-details">
            <span class="description">{{ specialty.description }}</span>
            <button class="button custom mb-3">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>