.navigation-bar {
  background: linear-gradient(173deg, #7452A9 22%, #DD70CD 109%);
  height: 80px;
  width: 100vw;
  display: flex;
  padding: 0 30px;
  position: fixed;
  z-index: 99999;

  .logo-text {
    color: white;
    font-weight: 500;
    font-size: 23px;
  }

  .item {
    color: white;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin: 0 3px;
    cursor: pointer;
    white-space: nowrap;
    
    &.active, &:hover {
      background-color: rgba(255,255,255, 20%);
      border-radius: 3px;
    }

    &.hide {
      display: none;
    }
  }

  .profile-actions {
    margin-left: 15px;
        
    .find-faculty {
      margin-right: 20px;
    }

    .profile {
      height: 40px;
      padding: 0 10px;
      cursor: pointer;
      
      &:hover {
        background-color: rgba(255,255,255, 20%);
        border-radius: 3px;
      }

      .profile-icon {
        margin-right: 5px;
      }
      .options-icon {
        width: 15px;
      }
      .user-name {
        color: white;
      }
    }  

    mat-icon {
      color: white;
    }
  }
}

.logo {
  margin-top: -5px;

  .university-hat {
    filter: invert(1);
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  .logo-text {
    vertical-align: middle;
  }
}