<div class="navigation-bar align-items-center d-flex">
  <div class="logo d-flex flex-column align-items-center text-center mr-4">
    <img class="university-hat" src="assets/images/university-hat.png" height="50px" width="50px" alt="">
    <span class="logo-text">Unipply</span>
  </div>

  <div class="nav-items flex-grow-1 d-flex justify-content-start ml-4">
    <a *ngFor="let navItem of navItems" class="item" [ngClass]="{hide: navItem.hide}" [routerLink]="'/' + navItem.navigateUrl" [ngClass]="{active: navItem.navigateUrl === (currentRoute$ | async)}">
      <ng-container *ngIf="!navItem.hide">{{ navItem.title }}</ng-container>
    </a>
  </div>

  <div class="profile-actions align-items-center d-flex">
    <ng-container *ngIf="isAuthentificated(); else unauthorizedUserTemplate">
      <button class="button custom mr-2" (click)="openApplicationStepper()">Apply now</button>

      <button class="find-faculty button secondary" (click)="openRecommendationsDialog()">Find your faculty</button>
      
      <div class="profile align-items-center d-flex" (click)="goToProfilePage()">
        <mat-icon class="profile-icon" aria-hidden="false" aria-label="options">account_circle</mat-icon>
        <span class="user-name">{{ user?.userName }}</span>
      </div>

      <mat-icon class="logout ml-4" (click)="signout()">logout</mat-icon>
    </ng-container>

    <ng-template #unauthorizedUserTemplate>
      <button class="button secondary" (click)="redirectToLoginPage()">Sign In</button>
    </ng-template>
  </div>
</div>
