#street-view {
  height: 100vh;
}

.go-back {
  z-index: 100;
  position: absolute;
  top: 100px;
  left: 20px;
}

.faculties {
  z-index: 100;
  position: absolute;
  top: 100px;
  right: 20px;
}

:host ::ng-deep {
  .mat-form-field-flex {
    background: white;
  }
}